.VOAh1 {
    color:#41ACE9; 
    width 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:5vw;
}

.VOAp {
    width 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:2.5vw;
}


.VOAsmaller {
    width 100%; 
    padding: 0px 0px 0px 60px;
    font-size:1.5vw;
}


.VOAul {
    list-style-type:square;
}
.VOAli {
    width 100%; 
    padding: 10px 0px 0px 30px; 
    font-size:2vw;
}

.VOAa {
    font-size:1.5vw; 
    padding-left: 10px
}

#sect {
    width: 87%; 
    margin-right: 10px; 
    float: right; 
    background-color: white
    padding: 60px 10px 10px 10px;
}

#sepDiv {
    width:100%; 
    padding: 20px; 
    border-top: 1px solid #dfdfdf;
}

#lessonMenu {
    position:fixed; 
    min-width: 13%; 
    -webkit-backface-visibility: hidden; 
    backface-visibility:hidden;
    border-radius: 25px;
    order: 2px solid #41ACE9;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.keyPts {
    width 100%; 
    padding: 0px 0px 0px 60px; 
    font-size:1.5vw;">
}

.lessonP {
    padding: 10px; 
    color: white;
    font-size:2vw;
}

.lessonA {
    font-size:1.5vw; 
    padding-left: 10px; 
    color: white;
}

#clearAll {
    clear:both
}

@media only screen and (max-width: 64em) {
    #sect {
        display: block; 
        min-width: 0; 
        width: auto; 
    }

	#lessonMenu {
        min-width: 0; 
		width: auto; 
    }
}

@media only screen and (max-width: 37.5em) {
    #sect {
        display: block; 
        min-width: 0; 
        width: auto; 
    }

	#lessonMenu {
        min-width: 0; 
		width: auto; 
    }
	
}