.VOAh1 {
    color:#41ACE9; 
    width: 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:5vw;
}

.VOAp {
    width: 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:2.5vw;
}

.VOAbigger {
    width: 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:2vw;
}

.VOASmallLessSpace {
    width: 100%; 
    padding: 10px 10px 10px 30px; 
    font-size:1.5vw;
}


.VOAsmaller {
    width: 100%; 
    padding: 0px 0px 0px 60px;
    font-size:1.5vw;
}

.VOAobjective {
    width: 100%; 
    padding: 0px 0px 0px 30px;
    font-size:1.5vw;
}

.VOAvideo {
    position: relative;
    padding-left: 30px;
    height: auto;
}

.VOATeachvideo {
    position: relative;
    margin: auto;
    padding: 10px;
    height: auto;
}

.VOAvidwrapper {
    width: 80%;
    height: 80%;
}

.VOAul {
    list-style-type:square;
}
.VOAli {
    width: 100%; 
    padding: 10px 0px 0px 30px; 
    font-size:2vw;
}

.VOAlismaller {
    width: 100%; 
    padding: 10px 0px 0px 30px; 
    font-size:1.5vw;
}

.VOAa {
    font-size:1.5vw; 
    padding-left: 10px
}

#sect {
    width: 87%; 
    margin-right: 10px; 
    float: right; 
    background-color: white;
    padding: 60px 10px 10px 10px;
}

#sepDiv {
    width:100%; 
    padding: 20px; 
    border-top: 1px solid #dfdfdf;
}

lesson {
    display: block; 
    background-color: #2fa4e7; 
    position:fixed; 
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility:hidden; 
    overflow: scroll;
}

lesson p {
    font-size:2vw;
    color: white;
}

lesson a {
    font-size:2.0vw; 
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px; 
    padding-right: 10px; 

    color: white;
}

lesson a:link { 
    color: white; 
}

lesson a:visited { 
    color: black; 
}

lesson a:hover { 
    color: #FED770;
 }

.keyPts {
    width: 100%; 
    padding: 0px 0px 0px 60px; 
    font-size:2vw;
}

#clearAll {
    clear:both
}

.VoAButton {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #41ACE9 100%);
    background-color:#41ACE9;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 150px;
    text-align: center;
}
.VoAButton:hover, .login input[type=submit]:hover, .logout input[type=submit]:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.VoAButton:active, .login input[type=submit]:active, .logout input[type=submit]:active {
    position:relative;
    top:1px;
}

#lessonimg{
    width: 30%;
    float: left;
    margin: 1.66%;
}
h2{
    font-family: "SkolarSans-BdCond_Cyr-Ltn",Arial,"Arial Unicode MS",Helvetica,sans-serif;
    font-size: 27px;
    font-weight: bold;
    border-bottom: 1px solid #cbd1d6;
    padding-bottom: 4.5px;
    color: #a1aab4;
    line-height: 1.2;
    text-align: left;
    padding-left: 40px;
}

#intro{
    padding-top: 8px;
    padding-left: 40px;
    padding-right:10px;
}
#imgBody{
    padding-left:18px;
}

#imgLink{
    width: 50%;
}        

.level_2_lesson1_table{
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
}
.voa_lesson1_table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #768492;
    width: 50%;
    margin: 0 auto 25px;
    
}    
.voa_lesson1_table td{
    border: 1px solid black;
    text-align: center;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.5vw;
}

/** Start of Prototype CSS */
.voa_login_container{
    color: white;
    margin: auto;
    width: 300px;
    height: 250px;
    border-radius: 1em;
    border: 2px solid #F8D880;
    background: #2fa4e7;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login {
    position: relative;
    padding: 50px 20px 50px 20px;
}

.logout {
    text-align: right;
}

.login h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.login input[type=text] {
    width: 100%;
    color: black;
    border: 2px solid #F8D880;
    font-size: 14px;
    padding: 5px;
}

.logout input[type=text] {
    font-weight: bold;
    font-size: 28px;
    color: #2fa4e7;
    border-color: transparent;
    text-align: right;
}

.login input[type=text]:focus {
    border-color: black;
}

.login p.submit {
    text-align: center;
    font-size: 14px;
    color: white;
}

.login input[type=submit] {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #41ACE9 100%);
    background-color:#41ACE9;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 250px;
    text-align: center;
}

.logout input[type=submit] {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #41ACE9 100%);
    background-color:#41ACE9;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 100px;
    text-align: center;
}

/** Start of Media query */
@media only screen and (max-width: 64em) and (max-width: 37.5em){
    #sect {
        padding-top: 10px;
        float: none; 
        width: auto; 
        padding: 0.5em;
    }

    #lessonMenu {
        float: none; 
        width: auto; 
        text-align: center; 
        padding: 0.5em; 
    }
    .VOAsmaller {
    width: 100%; 
    padding: 0px 0px 0px 10%;
    font-size:1.5vw;
    }
}